::-moz-selection { background: $green; color: #fff; text-shadow: none; }
::selection { background: $green; color: #fff; text-shadow: none; }

.clearfix { visibility: hidden; margin: 0; height: 0; clear: both; }
.cf:before, .cf:after, .onerow:before, .onerow:after { content: ""; display: table; }
.cf:after, .onerow:after { clear: both; }
.cf, .onerow { zoom: 1; }
 
*{
  outline: none !important;
  position: relative;
}

body, html, p{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html { font-size: 62.5%; } 

body{
  @include font-size(14);
  // font-family: $mainFont;
  font-weight: 400;
  background: #fff;
}

img{
  border: none;
  display:block;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a{
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  
  // font-family: $mainFont;

  text-decoration: none;
}

p{ 
  // font-family: $mainFont;
  @include font-size(14);
  margin:0;
}

h1, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}

input{ -webkit-appearance:none !important; }

figure{
  padding:0;
  margin:0;
}

.last{ margin-right: 0; }
li.last{margin-right:0 !important;}

.f-left{ float: left; }
.f-right{ float: right; }

.inner{ padding:0 40px; }

.top-20{ margin-top:20px; }
.top-40{ margin-top:40px; }

.visible-phone, img.visible-phone, .icon.visible-phone{ display: none; }
.visible-tablet{ display: none; }

.visible-desktop{ display: block; }
.hidden-phone{ display: block; }
.hidden-tablet{ display: block; }
.hidden-desktop{ display: none; }

.hidden-phone.in{ display:inline-block; }