// --------------------------------------------------
// Sass Variables
// --------------------------------------------------

$media-veryLarge : '(max-width: 1920px)';
$media-large : '(max-width: 1200px)';
$media-tabletLandscape : '(min-width: 768px) and (max-width: 979px)';
$media-tabletAll : '(max-width: 979px)';
$media-tablet : '(max-width: 767px)';
$media-phone : '(max-width: 480px)';
$media-retina : 'screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)';

// Colors
$primary: #08c;
$secondary: #06c;

// Grays
$black: #000;
$gray-darker: #111;
$gray-dark: #333;
$gray: #666;
$gray-light: #999;
$gray-lighter: #ccc;
$not-white: #f0f0f0;
$white: #fff;

// Font colors
$typ-color: #222;
$typ-color-dark: #000;
$typ-color-light: #999;

// Fonts
$font-default: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Break points
$break-small: 320px;
$break-medium: 768px;
$break-large: 1100px;
$max-width: 1090px;